/*---------------------------------------Importing fonts used----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

/*------------------------------------HTML and Body definitions--------------------------------*/

html {
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
}

/*-------------------------------------------Menu CSS-----------------------------------------*/

header{
    display: flex;
    position: inherit;
    scroll-behavior: smooth
}

.menu{
    width: 100%;
    display: flex;
    top: 0;
    z-index: 1;
}

#logo{
    width: 18%;
    margin-left: 6%;
    margin-top: 1%;
    display: flex;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

#wave{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.menuItens{
    position: absolute;
    text-decoration: none;
    margin-left: 55%;
    margin-top: 6%;
}

.itemMenu{
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    z-index: 1;
}

.Amenu{
    font-size: 180%;
    margin-left: 3rem;
    text-decoration: none;
    color: #ff7000;
    transition: 0.5s ease;
}


/*-------------------------------------------Menu Animation CSS-----------------------------------------*/

.Amenu:hover{
    color: #FFd4ae;
    text-shadow: 
        4px 4px 0px #FF7000;
}

#logo:hover{
    transform: scale(1.05);
}

/*-------------------------------------------Main CSS---------------------------------------------------*/
#mainPage{
    background-image: url(./images/mainStructure/startingBackground.svg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85em;
    margin-top: -15%;
}

.centerSection{
    display: flex;
    margin-left: 10%;
}

.textDireita{
    margin-top: 20%;    
}

.text1Main{
    color: #FFFFFF;
    font-family: 'Galada', cursive;
    font-size: 6em;
    text-shadow: 
        3px 3px 0px #FF7000;
    align-items: center;
}

.text2Main{
    color:#FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 550%;
    margin-top: -40%;
    align-items: center;
}

.text3Main{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 1000;
    font-size: 1600%;
    margin-top: 23%;
    margin-left: 2%;
}
.squaremain{
    width: 55%;
    height: 1.5%;
    background-color: #FFFFFF;
    z-index: 1;
    margin-left: 10%;
    margin-top: -12%;
    margin-bottom: 2%;
}

.contactMainButton{
    width: 14%;
    height: 5%;
    background-color: #FB7500;
    margin-left: 10%;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 200%;
    text-decoration: none;
    padding: 1%;
    border-radius: 1em;
    border: none;
    transition: 0.5s ease;
    margin-left: 10%;
}
.contactMainButton:hover{
    background-color: #ffd4ae;
    color: #FB7500;
    transform: scale(1.1);
}

/*---------------------------------------Main Animation CSS---------------------------------------------*/



/*------------------------------------------Culture CSS-------------------------------------------------*/
#cultureValues{
    width: 100%;
}

.waveCulture{
    width: 100%;
    z-index: 1;
    margin-top: -30%;
}

#cultureTitleUp{
    color: #FF9C45;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    z-index: 2;
    margin: 0;
    margin-top: 5%;
}
#cultureTitleDown{
    color:#FF7700;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    z-index: 2;
    margin: 0;
    margin-left: 5%;
    margin-top: -5%;
}
.eggstory{
    display: flex;
    flex-direction:column;
}

.imageCulture{
    z-index: 2;
    transition: 0.3s ease-in-out;
}

#chickenRunning{
    margin-top: -55%;
    margin-left: 80%;
    width: 50%;
    rotate: -15deg;
}

#fullEgg1{
    margin-left: 35%;
    margin-top: -20%;
    width: 35%;
    rotate: -30deg;
}

#fullEgg2{
    margin-left: 80%;
    margin-top: -30%;
    width: 35%;
    rotate: 45deg;
}

#fullEgg3{
    margin-left: 40%;
    margin-top: -30%;
    width: 30%;
    rotate: -80deg;
}

#openEgg{
    margin-top: -10%;
    margin-left: 60%;
    width: 60%;
}

.contentCulture{
    display: flex;
}

.contentTextCulture{
    margin-left: 15%;
    margin-top: -10%;
}

#values{
    margin-right: 10%;
}

.titleCulture{
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 2em;
    color: #FF7000;
    margin-top: 6%;
}

.textCulture{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    color: #582d09;
    line-height: 120%;
    letter-spacing: 105%;
    margin-top: -5%;
    margin-bottom: 5%;
    text-align: justify;
}

.particionCulture{
    display: flex;
}

.iconCulture{
    margin: 2%;
    margin-top: 5%;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: #FF7700 solid 0.2em;
}

/*------------------------------Animações e transicoes para o Culture-----------------------------------*/

.imageCulture:hover{
    transform: scale(1.05);
}

/*------------------------------------------Coworkers CSS------------------------------------------------*/

.coworkers{
    background:linear-gradient(#FF7000, #FF9C45);
    width: 100%;
    height: 29%;
    z-index: 2;
    overflow: hidden;
}

.coworkers li{
    margin-right: 3.55%;
}

.coworkersList{
    display: inline-flex;
    list-style: none;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 220%;
}

.coworkerImage{
    border-radius: 30%;
    transition: ease-in-out 0.5s;
    width: 10em;
    height: 10em;
}

#Caetano, #Fartura, #Dalben{
    border-radius: 0%;
    width: auto;
    height: auto;
}

#Pagmenos{
    width: 10em;
    border-radius: 10%;
    border: #E8E8E8 solid 0.1em;
}

/*--------------------------------Animações e transições Coworkers CSS----------------------------------*/

.coworkerImage:hover{
    transform: scale(1.02);
}

/*------------------------------------------Products CSS------------------------------------------------*/
#products{
    background: url(./images/mainStructure/productsBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110%;
}

.waveProducts{
    width: 100%;
    z-index: 1;
}

.titleProducts{
    color: #FF7700;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    z-index: 2;
    margin-top: -5%;
    margin-left: 5%;
}

.subtitleProducts{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    text-shadow: 
        5px 5px 0px #F97316;
    z-index: 2;
    margin-top: -10%;
    margin-left: 10%;
}

.productsFullContent{
    display: flex;
}

.leftPartProducts{
    display: flex;
}

.productSelected{
    width: 50vh;
    height: 50vh;
    transform: rotate(15deg) scale(1);
    z-index: 3;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    margin-left: -30%;
}

.product-changing {
    transform: rotate(0deg) scale(0.5);
    opacity: 0;
}

.productSelection{
    width: 50vh;
    height: 50vh;
    z-index: 3;
}

.curentProduct{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: #FF7700;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
}

.productItem{
    color: #FF7700;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
}

.productsTextContent{
    margin-right: 5%;
    margin-top: -10%;
    margin-bottom: 15%;
}

.cardProducts{
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 2em;
    display: inline-flex;
    cursor: pointer;
    transition: 0.8s ease;
    section{
        transition: 0.5s ease-in-out;
        border-radius: 1em;
        padding: 1%;
    }
}

.imageProducts{
    margin-top: 5%;
    margin: 2%;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: #FF7700 solid 0.3em;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}

.titleProductsText{ 
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    color: #ff6f0000;
    transition: 0.5s ease-in-out;
    margin-left: 2%;
}

.textProducts{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: #582d0900;
    line-height: 120%;
    letter-spacing: 105%;
    margin-top: -3%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    transition: 0.5s ease-in-out;
}

/*------------------------------Animações e transicoes para o Products----------------------------------*/

.productItem:hover{
    background-color: #fd9f4d;
    color: #FFFFFF;
    transform: scale(1.03);
}

.curentProduct:hover{
    transform: scale(1.03);
}

.productSelected:hover{
    transform: scale(1.05);
}

.cardProducts:hover{
    transform: scale(1.03);
    section{
        background-color: #FFFFFF;
        border-radius: 1em;
        padding: 1%;
        box-shadow: 
            0.5em 0.5em 0.1em #0000005d;
        .titleProductsText{
            color: #FF7700;
        }
        .textProducts{
            color: #582d09;
        }
    }
    .imageProducts{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }
}

/*-------------------------------------------History CSS------------------------------------------------*/
#ourStory{
    width: 100%;
}

.waveOurHistory{
    width: 100%;
    margin-top: -20%;
    z-index: 1;
}

.ourStoryContent{
    display: flex;
}

.imagesOurHistory{
    border: #FFFFFF solid 0.8em;
    border-radius: 5%;
    z-index: 2;
    background-color: #fd9f4d;
    width: 40%;
    height: 60em;
    margin-top: -10%;
    margin-left: 5%;
}

.textOurHistory{
    margin-right: 10%;
    margin-left: 5%;
    margin-top: -10%;
    z-index: 2;
}

#ourHistoryTitleUp{
    color: #FF7000;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 4em;
    text-shadow: 
        4px 4px 0px #FFFFFF;
}

#ourHistoryTitleDown{
    color: #ce5600;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 6em;
    margin-top: -10%;
    margin-left: 5%;
}

.textConteinerOurHistory{
    margin-top: -5%;
}

.textForOurHistory{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    color: #582d09;
    text-align: justify;
    line-height: 120%;
    letter-spacing: 105%;
}

.textForOurHistory::first-letter{
    margin-left: 2em;
}

.specialTextHistory{
    color: #FF7000;
}

/*------------------------------Animações e transicoes para o OurHistory--------------------------------*/



/*------------------------------------------Carousel CSS------------------------------------------------*/

@keyframes infiniteScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

#ourGranja {
    margin-top: 5%;
    width: 100%;
    height: 60em;
    overflow: hidden;
}

.text1Granja{
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 3em;
    color: #ffffff;
    margin-left: 10%;
    z-index: 3;
    position: absolute;
}

.text2Granja{
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    color: #FF7700;
    z-index: 3;
    margin-left: 5%;
    margin-top: 1%;
    position: absolute;
}

.carrouselDimentions{
    display: flex;
    width: 100%;
}

.imagesCarrouselWrapper {
    width: 100%;
    overflow: hidden;
}

.imagesCarrousel {
    display: flex;
    width: 100%;
}

.imageCarrousel {
    min-width: 100%;
    object-fit: cover;
}

.buttonCarrousel {
    position: absolute;
    height: 3em;
    transition: 0.5s ease;
    z-index: 10;
    cursor: pointer;
}

#LeftBtn {
    margin-top: 22%;
    margin-left: 1%;
}

#RightBtn {
    margin-left: 96%;
    margin-top: 22%;
    rotate: 180deg;
}


/*------------------------------Animações e transicoes para o Carousel----------------------------------*/

.buttonCarrousel:hover{
    transform: scale(1.1);
}

/*-------------------------------------------Contact CSS------------------------------------------------*/

#contact{
    width: 100%;
}

.contactTitle{
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 8em;
    color: #FF7700;
    margin-left: 15%;
}

.contactSubtitle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    color: #000000;
    margin-left: 25%;
    margin-top: -8%;
}

.particionForm{
    display: flex;
}

.form{
    width: 100%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 15%;
    section{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    };
}

.firstLineForm{
    display: flex;
    width: 100%;
}

.nameForm, .emailForm{
    width: 50%;
}

.emailForm{
    margin-left: 3%;
}

.form label{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #777777;
}
.form input{
    text-decoration: none;
    border: none;
    background-color: #E8E8E8;
    font-size: medium;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    padding: 1em;
    border-radius: 1em;
    outline: none;
    border: #FFFFFF solid, 0.15em;
    transition: 0.5s ease-in-out;
}
.form input:focus {
    border: #FF7000 solid, 0.15em;
}

.form textarea{
    text-decoration: none;
    border: none;
    background-color: #E8E8E8;
    font-size: medium;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    padding: 1em;
    border-radius: 1em;
    outline: none;
    resize: none;
    border: #FFFFFF solid, 0.15em;
    transition: 0.5s ease-in-out;
}

.form textarea:focus {
    border: #FF7000 solid, 0.15em;
}

.form button{
    text-decoration: none;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 50%;
    background-color: #FB7500;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s ease;
}

.informations{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 5%;
    margin-left: 5%;
}

.socialMidia{
    width: 40%;
    margin-top: 5%;
    ul{
        display: flex;
        list-style-type: none;
        margin-top: 5%;
        margin-left: -10%;
    }
    img{
        width: 50%;
        transition: 0.5s ease-in-out;
    }
}

/*-------------------------------Animações e transicoes para o Contact----------------------------------*/

.socialMidiaIcon:hover{
    transform: scale(1.1);
}

.form button:hover{
    background-color: #ffd4ae;
    color: #FB7500;
    transform: scale(1.03);
}

/*--------------------------------------------Footer CSS------------------------------------------------*/

footer{
    background-image: url(./images/mainStructure/backgroundFooter.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    margin-bottom: -1%;
}

.blackBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dividedPart{
    display: inline-flex;
    z-index: 10;
}

.footerPart1{
    margin-left: 15%;
    width: 20%;
}

.footerPart1 img{
    width: 100%;
}
.footerPart1 p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 1em;
}

.linksFooter{
    margin-top: 2%;
    margin-left: 10%;
}
.linksFooter {
    strong{
        font-family: 'Galada', cursive;
        font-weight: 200;
        font-size: 3em;
         color: #FF7000;
    }
}
.linksFooter a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.contatoFooter{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
.contatoFooter p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #FFFFFF;
}
.contatoFooter strong{
    font-family: 'Galada', cursive;
    font-weight: bolder;
    font-size: 1.5em;
    color: #FF7000;
}

.textFooter{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 5%;
    margin-left: 35%;
}

/*-------------------------------Animações e transicoes para o Footer-----------------------------------*/