/*---------------------------------------Importing fonts used----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

/*------------------------------------HTML and Body definitions--------------------------------*/

html, body{
    margin: 0;
    padding: 0;
}

/*-------------------------------------------Background---------------------------------------*/

.backgroundImages{
    position: relative;
    width: 100%;
    z-index: -1;
}
#productsBackground{
    margin-top: 65%;
}

/*-------------------------------------------Menu CSS-----------------------------------------*/

header{
    display: flex;
    position: inherit;
}

.menu{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1;
}

#logo{
    width: 18%;
    margin-left: 6%;
    margin-top: 1%;
    position: absolute;
    display: flex;
    z-index: 0;
}

#wave{
    position: absolute;
    width: 100%;
    top: 200;
    z-index: -1;
}

.menuItens{
    position: absolute;
    text-decoration: none;
    left: 50%;
    margin-top: 6%;
}

.itemMenu{
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    z-index: 1;
}

.Amenu{
    font-size: 1.8em;
    margin-left: 3em;
    text-decoration: none;
    color: #ff7000;
    transition: 0.5s ease;
}


/*-------------------------------------------Menu Animation CSS-----------------------------------------*/

.Amenu:hover{
    color: #FFd4ae;
    text-shadow: 
        4px 4px 0px #FF7000;
    font-size: 1.7em;
    margin-right: 0.33em;
}

/*-------------------------------------------Main CSS---------------------------------------------------*/

.text1Main{
    color: #FFFFFF;
    font-family: 'Galada', cursive;
    font-size: 5.5em;
    position: absolute;
    top: 40%;
    left: 11%;
    text-shadow: 
        5px 5px 0px #FF7000
}
.text2Main{
    color:#FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 5.5em;
    position:absolute;
    top: 52%;
    left: 11%;
}
.text3Main{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 1000;
    font-size: 16em;
    position: absolute;
    top: 26%;
    left: 30%;
}
.squaremain{
    position: absolute;
    width: 52%;
    height: 1.5%;
    top: 73%;
    left: 11%;
    background-color: #FFFFFF;
    z-index: 0;
}
.contactMainButton{
    position: absolute;
    width: 14%;
    height: 5%;
    top: 77%;
    left: 14%;
    background-color: #FB7500;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    padding-top: 0.7%;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.contactMainButton:hover{
    background-color: #ffd4ae;
    color: #FB7500;
    transform: scale(1.03);
}

/*---------------------------------------Main Animation CSS---------------------------------------------*/



/*------------------------------------------Culture CSS-------------------------------------------------*/

.waveCulture{
    position: absolute;
    width: 100%;
    top: 120%;
    z-index: 1;
}

#cultureTitleUp{
    position: absolute;
    color: #FF9C45;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    top: 123%;
    left: 57%;
    z-index: 2;
}
#cultureTitleDown{
    position: absolute;
    color:#FF7700;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    top: 123%;
    left: 60%;
    z-index: 2;
}

.imageCulture{
    position: absolute;
    z-index: 2;
}
#chickenRunning{
    width: 20%;
    top: 110%;
    left: 28%;
    rotate: -15deg;
}

#fullEgg1{
    width: 15%;
    top: 130%;
    left: 10%;
    rotate: -30deg;
}

#fullEgg2{
    width: 15%;
    top: 150%;
    left: 25%;
    rotate: 45deg;
}

#fullEgg3{
    width: 13%;
    top: 170%;
    left: 8%;
    rotate: -80deg;
}

#openEgg{
    width: 25%;
    top: 200%;
    left: 20%;
}

/*------------------------------Animações e transicoes para o Culture-----------------------------------*/



/*------------------------------------------Coworkers CSS------------------------------------------------*/

.coworkers{
    background-color: #fa9236;
    position: absolute;
    width: 100%;
    height: 25%;
    top: 250%;
    z-index: 2;
}

/*------------------------------------------Products CSS------------------------------------------------*/

.waveProducts{
    position: absolute;
    width: 100%;
    top:269%;
    z-index: 1;
}

.titleProducts{
    position: absolute;
    color: #FF7700;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    top: 273%;
    left: 10%;
    z-index: 2;
}

.subtitleProducts{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    text-shadow: 
        5px 5px 0px #F97316;
    top: 295%;
    left: 15%;
    z-index: 2;
}
.productSelected{
    position: absolute;
    top: 315%;
    left: 15%;
    width: 50vh;
    height: 50vh;
    rotate: 15deg;
}

.productSelection{
    position: absolute;
    top: 315%;
    left: 5%;
    width: 50vh;
    height: 50vh;
    z-index: 3;
}

.curentProduct{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 2.3em;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: #FF7700;
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
}

.productItem{
    color: #FF7700;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 2.3em;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
}

/*------------------------------Animações e transicoes para o Products----------------------------------*/

.productItem:hover{
    background-color: #fd9f4d;
    color: #FFFFFF;
    transform: scale(1.03);
}
.curentProduct:hover{
    transform: scale(1.03);
}

/*-------------------------------------------History CSS------------------------------------------------*/

#ourHistoryTitleUp{
    position: absolute;
    color: #FF7000;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 4em;
    text-shadow: 
        4px 4px 0px #FFFFFF;
    top: 380%;
    left: 5%;
}

#ourHistoryTitleDown{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 6em;
    top: 387%;
    left: 10%;
}

.waveOurHistory{
    position: absolute;
    width: 100%;
    top: 395%;
    z-index: 1;
}

.imagesOurHistory{
    position: absolute;
    border: #FFFFFF solid 0.8em;
    border-radius: 5%;
    height: 90%;
    top: 410%;
    left: 5%;
    z-index: 2;
    background-color: #fd9f4d;
}
/*------------------------------Animações e transicoes para o OurHistory--------------------------------*/



/*------------------------------------------Carousel CSS------------------------------------------------*/

.text1Granja{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 3em;
    color: #FFFFFF;
    top: 510%;
    left: 10%;
    z-index: 2;
}

.text2Granja{
    position: absolute;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    color: #FF7700;
    top: 495%;
    left: 5%;
    z-index: 2;
}

.imagesCarrousel{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 510%;
}

/*------------------------------Animações e transicoes para o Carousel----------------------------------*/



/*-------------------------------------------Contact CSS------------------------------------------------*/

.contactContent{
    position: absolute;
    top: 665%;
    width: 100%;
}

.contactTitle{
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 8em;
    color: #FF7700;
    position: absolute;
    left: 15%;
}

.contactSubtitle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    color: #000000;
    position: absolute;
    top: 125%;
    left: 23%
}

.form{
    label{
        font-family: 'Fira Sans', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #777777;
        position: absolute;
    }
    input{
        text-decoration: none;
        border: none;
        background-color: #E8E8E8;
        font-size: medium;
        font-weight: 500;
        font-family: 'Fira Sans', sans-serif;
        padding: 1em;
        border-radius: 1em;
        position: absolute;
    }
    button{
        text-decoration: none;
        border: none;
        padding: 0.5em;
        border-radius: 0.5em;
        width: 15%;
        background-color: #FB7500;
        color: #FFFFFF;
        font-family: 'Fira Sans', sans-serif;
        font-weight: bolder;
        font-size: 1.5em;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s ease;
        position: absolute;
        top: 500%; 
        left: 14%;
    }
    button:hover{
        background-color: #ffd4ae;
        color: #FB7500;
        transform: scale(1.03);
    }
}

#labelName{
    top: 200%;
    left: 15%
}

#name{
    top: 220%;
    left: 14%;
    width: 20%;
}

#labelEmail{
    top: 200%;
    left: 40%
}

#email{
    top: 220%;
    left: 39%;
    width: 20%;
}

#labelEmpresa{
    top: 260%;
    left: 15%
}

#empresa{
    top: 280%;
    left: 14%;
    width: 45%;
}

#labelMensagem{
    top: 320%;
    left: 15%
}

#mensagem{
    top: 340%;
    left: 14%;
    width: 45%;
    height: 100%;
}

.informations{
    position: absolute;
    top: 180%;
    left: 65%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

/*-------------------------------Animações e transicoes para o Contact----------------------------------*/

/*--------------------------------------------Footer CSS------------------------------------------------*/

/*-------------------------------Animações e transicoes para o Footer-----------------------------------*/