/*------------------------------------------Coworkers CSS------------------------------------------------*/
@keyframes infiniteScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.coworkers{
    background:linear-gradient(#FF7000, #fab172);
    width: 100%;
    z-index: 2;
    overflow: hidden;
    margin-top: 5%;
}

.coworkers li{
    margin: 0 clamp(1.5rem, 3vw, 4rem);
    margin-right: clamp(1.9rem, 5vw, 6rem);
    flex-shrink: 0; 
}

.coworkersList{
    display: flex;
    list-style: none;
    align-items: center;
    background-color: #FFFFFF;
    padding: 2em 0;
    width: max-content; 
}

.coworkerImage{
    transition: ease-in-out 0.5s;
    height: 9em;
    width: auto;
    max-width: 12em;
    object-fit: contain;
    border-radius: 1em; 
}

#Caetano, #Fartura, #Dalben{
    border-radius: 0%;
}

#Pagmenos{
    border-radius: 10%;
    border: #E8E8E8 solid 0.1em;
}

/*--------------------------------Animações e transições Coworkers CSS----------------------------------*/

@media(min-width: 1500px){
    .coworkerImage:hover{
        transform: scale(1.02);
    }
}

/*------------------------------------Responsivity Coworkers CSS----------------------------------------*/
@media (max-width: 768px) {
    .coworkerImage {
        height: 5em;
        max-width: 9em;
    }
}