/*---------------------------------------Importing fonts used----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
    @import url('https://fonts.cdnfonts.com/css/hamster-2');

/*------------------------------------HTML and Body definitions--------------------------------*/

/*
  Melhor prática para um dimensionamento de caixa mais intuitivo.
  Isso evita que padding e border afetem a largura final dos elementos.
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}

/*-------------------------------------------Main CSS---------------------------------------------------*/
#mainPage{
    background-image: url(../images/mainStructure/startingBackground.svg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    background-color: #FFFFFF;
}

.centerSection{
    display: flex;
    margin-left: 10%;
    width: fit-content;
    animation: fade-in-up 0.7s ease-out 0.7s forwards;
}

.upperTextCenterSection{
    display: flex;
    margin-top: 45%;
}

/* Define a opacidade inicial como 0 para os elementos que serão animados */
.text1Main, .text2Main, .text3Main,.text4Main , .contactMainButton, .centerSection{
    opacity: 0;
}

.text1Main{
    color: #FFFFFF;
    font-family: 'Galada', cursive;
    font-size: 7em;
    margin: 0;
    margin-bottom: -15%;
    text-shadow: 
        3px 3px 0px #FF7000;
    animation: fade-in-up 1s ease-out 1s forwards;
    n{
        text-shadow: 
            3px 3px 3px #0000007a;
    };
}

.text2Main{
    color:#FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-size: 5.8em;
    font-weight: 1000;
    margin: 0;
    text-shadow: 
        3px 3px 3px #0000007a;
    animation: fade-in-up 1s ease-out 0.8s forwards;
}

.text3Main{
    color: #ffffff;
    font-family: 'Galada', cursive;
    font-weight: 1000;
    font-size: clamp(1em, 70vh, 13em);
    text-align: center;
    margin: 0;
    margin-left: 2%;
    margin-top: -5%;
    text-shadow: 
        5px 5px 0px #ff7000;
    animation: fade-in-up 1s ease-out 1s forwards;
}

.text4Main{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 1000;
    font-size: 2em;
    animation: fade-in-up 1s ease-out 1s forwards;
    margin: 0;
    margin-top: -6%;
    text-shadow: 
        3px 3px 3px #0000007a;
}

.contactMainButton{
    width: max(40%, 30vw);
    height: 5%;
    background-color: #FB7500;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 150%;
    text-decoration: none;
    padding: 1%;
    border-radius: 0.5em;
    border: none;
    transition: 0.5s ease;
    animation: fade-in-up 0.8s ease-out 1.2s forwards;
}

/* Efeito de hover apenas para dispositivos com mouse */
@media (min-width: 1500px) {
    .contactMainButton:hover{
        background-color: #ffd4ae;
        color: #FB7500;
        transform: scale(1.1);
    }
}

/*---------------------------------------Main Animation CSS---------------------------------------------*/

/* Keyframe para a animação dos textos e botão subindo */
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1500px) {
    #mainPage{
        height: 60vh;
        margin-top: -10vh;
    }

    .centerSection{
        flex-direction: column;
        margin-left: 5%;
    }

    .upperTextCenterSection{
        display: block;
    }

    .text1Main{
        font-size: 4em;
    }

    .text2Main{
        font-size: 3.5em;
    }

    .text3Main{
        font-size: 7em;
        margin-left: 2%;
    }
    .text4Main{
        font-size: 1.1em;
    }

    .contactMainButton{
        font-size: 1em;
        padding: 0.5em;
        border-radius: 0.5em;
    }
}