/*---------------------------------------Importing fonts used----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

/*------------------------------------HTML and Body definitions--------------------------------*/
html{
    overflow-x: hidden;
}

html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}

/*-------------------------------------------Main CSS---------------------------------------------------*/
#mainPage{
    background-image: url(../images/mainStructure/startingBackground.svg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    margin-top: -15%;
    background-color: #FFFFFF;
}

.centerSection{
    display: flex;
    margin-left: 10%;
    margin-bottom: 3%;
    width: fit-content;
    border-bottom: #FFFFFF solid 1em;
}

.textDireita{
    margin-top: 25%;    
}

.text1Main{
    color: #FFFFFF;
    font-family: 'Galada', cursive;
    font-size: 6em;
    text-shadow: 
        3px 3px 0px #FF7000;
    margin-bottom: max(-5vh, -20%);
}

.text2Main{
    color:#FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 500%;
    margin-top: auto;
    margin-bottom: 0%;
}

.text3Main{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 1000;
    font-size: clamp(1em, 40vh,1400%);
    margin-top: 31%;
    margin-left: 2%;
    margin-bottom: -4%;
}

.contactMainButton{
    width: max(14%, 15vw);
    height: 5%;
    background-color: #FB7500;
    margin-left: 10%;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 150%;
    text-decoration: none;
    padding: 1%;
    border-radius: 1em;
    border: none;
    transition: 0.5s ease;
    margin-left: 10%;

}
.contactMainButton:hover{
    background-color: #ffd4ae;
    color: #FB7500;
    transform: scale(1.1);
}

/*---------------------------------------Main Animation CSS---------------------------------------------*/

@media (max-width: 1500px) {
    #mainPage{
        height: 60vh;
    }

    .centerSection{
        flex-direction: column;
        border-bottom: #FFFFFF solid 0.5em;
    }

    .textDireita{
        margin-top: 20%;
    }

    .text1Main{
        margin-bottom: max(-25%, -5vh);
        font-size: 4em;
    }

    .text2Main{
        font-size: 3.5em;
    }

    .text3Main{
        font-size: 450%;
        margin-left: 0%;
        margin-top: max(-10%, -3vh);
    }

    .contactMainButton{
        font-size: 1em;
        padding: 0.5em;
        border-radius: 0.5em;
    }
}