/*-------------------------------------------Menu CSS-----------------------------------------*/

header{
    display: flex;
    position: inherit;
    scroll-behavior: smooth;
}

.menu{
    width: 100%;
    display: flex;
    top: 0;
    z-index: 1;
}

#logo{
    width: 18%;
    margin-left: 6%;
    margin-top: 1%;
    display: flex;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

#wave{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.menuItens{
    position: absolute;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 6%;
}

.itemMenu{
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    z-index: 1;
}

.Amenu{
    font-size: 180%;
    margin-left: 3rem;
    text-decoration: none;
    color: #ff7000;
    transition: 0.5s ease;
}


/*-------------------------------------------Menu Animation CSS-----------------------------------------*/

.Amenu:hover{
    color: #FFd4ae;
    text-shadow: 
        4px 4px 0px #FF7000;
}

#logo:hover{
    transform: scale(1.05);
}

/*-------------------------------------------Menu Sticky CSS-----------------------------------------*/

#menuSticky{
    position: fixed;
    top:0;
    left: 0;
    background: linear-gradient(to right, #fcc49a, #FF7000);
    width: 100%;
    z-index: 5;
    box-shadow: 
        0 0.5em 5px rgba(0,0,0,0.2);
    transition: 0.5s ease-in-out;
}

.menuStickyContent{
    display: flex;
    transition: 0.5s ease-in-out;
}

.menuStickyItens{
    display: flex;
    align-items: center;
    margin-left: 30%;
    list-style-type: none;
    transition: 0.5s ease-in-out;
}

.itemMenuSticky{
    margin-left: 10%;
    transition: 0.6s ease-in-out;
}

.AmenuSticky{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 1.5em;
    transition: 0.6s ease-in-out;
}

#logoSticky{
    width: 4%;
    margin: 0.5%;
    margin-left: 10%;
    transition: 0.3s ease-in-out;
}

/*-------------------------------------------Menu Animation CSS-----------------------------------------*/

.itemMenuSticky:hover{
    transform: scale(1.05);
}
