/*-------------------------------------------History CSS------------------------------------------------*/
#ourStory{
    width: 100%;
}

.waveOurHistory{
    width: 100%;
    margin-top: -20%;
    z-index: 1;
}

.ourStoryContent{
    display: flex;
}

.imagesOurHistory{
    border: #FFFFFF solid 0.8em;
    border-radius: 5%;
    z-index: 2;
    background-color: #fd9f4d;
    width: 50%;
    height: 100vh;
    margin-left: 5%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.textOurHistory{
    margin-right: 5%;
    margin-left: 3%;
    margin-top: -3%;
    z-index: 2;
}

#ourHistoryTitleUp{
    color: #FF7000;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 4em;
    text-shadow: 
        4px 4px 0px #FFFFFF;
}

#ourHistoryTitleDown{
    color: #ce5600;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Bolder;
    font-size: 6em;
    margin-top: max(-0.5em, -10%);
    margin-left: 5%;
}

.textConteinerOurHistory{
    margin-top: -5%;
}

.textForOurHistory{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    color: #582d09;
    text-align: justify;
    line-height: 120%;
    letter-spacing: 105%;
}

.textForOurHistory::first-letter{
    margin-left: 2em;
}

.specialTextHistory{
    color: #FF7000;
}

/*------------------------------Animações e transicoes para o OurHistory--------------------------------*/

.imagesOurHistory:hover{
    transform: scale(1.03);
}

/*------------------------------Responsivity for OurHistory---------------------------------------------*/

@media(max-width: 1500px){
    .ourStoryContent{
        flex-direction: column;
    }

    .imagesOurHistory{
        width: 90%;
        border-radius: 3em;
        margin-left: 3%;
        height: 60vh;
    }
}