/*------------------------------------------Products CSS------------------------------------------------*/
#products{
    width: 100%;
}

.productsContent{
    background-image: url(../images/mainStructure/productsBackgroundWood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.waveProducts{
    width: 100%;
    z-index: 1;
}

.waveProductsDown{
    width: 100%;
    margin-bottom: -1%;
}

.titleProducts{
    color: #ffffff;
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 10em;
    text-shadow: 
        5px 5px 0px #F97316;
    z-index: 2;
    margin-top: -1%;
    margin-left: 5%;
}

.subtitleProducts{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    text-shadow: 
        5px 5px 0px #F97316;
    z-index: 2;
    margin-top: -10%;
    margin-left: 10%;
}

.productsFullContent{
    display: flex;
}

.leftPartProducts{
    display: flex;
}

.productSelected{
    width: 70vh;
    height: 70vh;
    transform: rotate(15deg) scale(1);
    z-index: 3;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    margin-top: -5%;
    margin-left: -10%;
    border-radius: 30%;
}

/*------------------------------------------Image specificies------------------------------------------------*/

.product-changing {
    transform: rotate(0deg) scale(0.5);
    opacity: 0;
}

.productSelection{
    width: 50vh;
    height: 50vh;
    z-index: 3;
}

.curentProduct{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 0.6em;
    text-decoration: none;
    background-color: #FF7700;
    width: 6vh;
    height: 6vh;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
}

.productItem{
    color: #FF7700;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 6vh;
    height: 6vh;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
}

.productsTextContent{
    margin-right: 5%;
    margin-top: -10%;
}

.cardProducts{
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 0.2em;
    display: inline-flex;
    cursor: pointer;
    transition: 0.8s ease;
    section{
        transition: 0.5s ease-in-out;
        padding: 1%;
    }
}

.imageProducts{
    margin-top: 5%;
    margin: 2%;
    height: 4em;
    width: 4em;
    border-radius: 1em;
    border: #ffa95e solid 0.2em;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}

.titleProductsText{ 
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    color: #ff6f0000;
    transition: 0.5s ease-in-out;
    margin-left: 2%;
}

.textProducts{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: #582d0900;
    line-height: 120%;
    letter-spacing: 105%;
    margin-top: -3%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    transition: 0.5s ease-in-out;
}

/*------------------------------Animações e transicoes para o Products----------------------------------*/

.productItem:hover{
    background-color: #fd9f4d;
    color: #FFFFFF;
    transform: scale(1.03);
}

.curentProduct:hover{
    transform: scale(1.03);
}

.productSelected:hover{
    transform: scale(1.05);
}

.cardProducts:hover{
    transform: scale(1.03);
    section{
        background-color: #FFFFFF;
        border-radius: 0.5em;
        padding: 1%;
        box-shadow: 
            0.5em 0.5em 0.1em #0000005d;
        .titleProductsText{
            color: #FF7700;
        }
        .textProducts{
            color: #582d09;
        }
    }
    .imageProducts{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1em;
    }
}

/*------------------------------------------Image specificies------------------------------------------------*/

@media (max-width: 1800px) {
    .productsFullContent{ 
        flex-direction: column;
    }

    .subtitleProducts{
        margin-top: max(-2.5em, -35%);
    }

    .productList{
        display: flex;
        li{
            margin-right: 3%;
        }
    }

    .leftPartProducts{
        flex-direction: column;
    }

    .productSelected{
        margin-left: 5%;
        margin-top: max(-20em, -50%);
        height: 55vh;
        width: 55vh;
    }

    .textProducts{
        margin-top: 0%;
    }
}
