/*------------------------------------------Products CSS------------------------------------------------*/
#products{
    width: 100%;
    background-color: #FFFFFF;
}

.productsContent{
    background-image: url(../images/mainStructure/productsBackgroundWood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.waveProducts{
    width: 100%;
    z-index: 1;
}

.waveProductsDown{
    width: 100%;
    margin-bottom: -1%;
}

.titleProducts{
    color: #ffffff;
    font-family:  'galada', cursive;
    font-weight: 1000;
    font-size: 10em;
    z-index: 2;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 
        3px 3px 0px #ff6f00da;
}

.subtitleProducts{
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.4em;
    font-weight: 1000;
    text-shadow: 
        3px 3px 0px #0000008a;
    z-index: 2;
    margin-left: 16%;
    margin-top: -5%;
}

.productsFullContent{
    display: flex;
}

.leftPartUpper{
    display: flex;
}

.productSelected{
    width: 80vh;
    height: 80vh;
    transform: rotate(15deg) scale(1);
    z-index: 3;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 20%;
    z-index: 0;
    margin-left: 40%;
}

/*------------------------------------------Image specificities------------------------------------------------*/

.product-changing {
    transform: rotate(0deg) scale(0.5);
    opacity: 0;
}

.productSelection{
    margin-left: 5%;
    z-index: 3;
    z-index: 0;
}

.productList{
    li{ 
        margin-left: 3%;
    }
}

.currentProduct{
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 0.6em;
    text-decoration: none;
    background-color: #FF7700;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
    z-index: 0;
}

.productItem{
    color: #FF7700;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s ease;
    z-index: 0;
}

.productsTextContent{
    margin-right: 5%;
    margin-top: -5%;
}

.cardProducts{
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 0.2em;
    display: inline-flex;
    cursor: pointer;
    transition: 0.8s ease;
    margin-left: 30%;
    section{
        transition: 0.5s ease-in-out;
        padding: 1%;
    }
}

.imageProducts{
    margin-top: 5%;
    margin: 2%;
    height: 4em;
    padding: 1%;
    width: 4em;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

.titleProductsText{ 
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    color: #ff6f0000;
    transition: 0.5s ease-in-out;
    margin-left: 2%;
}

.textProducts{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: #582d0900;
    line-height: 120%;
    letter-spacing: 105%;
    margin-top: -3%;
    margin-bottom: 5%;
    margin-left: 2%;
    transition: 0.5s ease-in-out;
}

/*------------------------------Animações e transicoes para o Products----------------------------------*/

@media (min-width: 1500px){
    .productItem:hover{
        background-color: #fd9f4d;
        color: #FFFFFF;
        transform: scale(1.03);
    }

    .currentProduct:hover{
        transform: scale(1.03);
    }

    .productSelected:hover{
        transform: scale(1.05);
    }

    .cardProducts:hover{
        transform: scale(1.03);
        section{
            background-color: #FFFFFF;
            border-radius: 0.5em;
            padding: 1%;
            box-shadow: 
                0.5em 0.5em 0.1em #0000005d;
            .titleProductsText{
                color: #FF7700;
            }
            .textProducts{
                color: #582d09;
            }
        }
        .imageProducts{
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 1em;
        }
    }
}

/*----------------------------------Badges Style----------------------------------*/
.certifications{
    margin-top: 10%;
    padding-top: 1%;
    background-image: url(../images/selos/fundoCertificacoes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.selos{
    margin-top: 5%;
    margin-left: 10%;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 10%;
}

#titleSelos{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 1000;
    color: #ff7000;
    font-size: 2em;
    margin-bottom: -10%;
    margin-left: 20%;
    text-shadow:
        2px 2px 0px #ff6f005e;
}

#seloAVAL{
    height: 9vh;
    margin-right: 2em;
    transition: 0.3s ease-in-out;
}

#seloQIMA{
    width: 9vh;
    height: 9vh;
    border-radius: 1em;
    transition: 0.3s ease-in-out;
}

#seloSISBI{
    height: 9vh;
    margin-left: 2em;
    border-radius: 1em;
    transition: 0.3s ease-in-out;
}

@media(hover: hover){
    #seloQIMA:hover, #seloAVAL:hover, #seloSISBI:hover{
        transform: scale(1.08);
    }
}

@media (max-width: 1800px) {
    #titleSelos{
        margin-left: 10%;
    }
    
    .selos{
        margin-left: 5%;
        margin-bottom: 20%;
        padding-left: 13%;
        padding-right: 13%;
    }

    #seloAVAL{
        height: 7vh;
        margin-right: 1em;
    }  

    #seloQIMA{
        height: 7vh;
        width: 7vh;
    }

    #seloSISBI{
        height: 7vh;
        margin-left: 1em;
    }
}
/*------------------------------------------Image specificities------------------------------------------------*/

@media (max-width: 1800px) {
    .titleProducts{
        font-size: 5em;
        margin-bottom: 1%;
    }

    .subtitleProducts{
        font-size: 3em;
    }

    .productsFullContent{ 
        flex-direction: column;
    }

    .leftPartUpper{
        display: block;
    }   

    .productList{
        display: flex;
        li{
            margin-right: 1%;
        }
    }

    .leftPartProducts{
        flex-direction: column;
    }

    .productSelected{
        margin-left: 10%;
        margin-bottom: 10%;
        margin-top: 5%;
        width: 80%;
        height: 80%;
    }

    .textProducts{
        margin-top: 0%;
    }

    .productsTextContent{
        margin-right: 0%;
    }

    .imageProducts{
        height: 3em;
        width: 3em;
        background-color: #ffffff;
        border: #FF7000 solid 0.2em;
    }

    .cardProducts{
        margin-left: 5%;
        section{
            background-color: #FFFFFF;
            border-radius: 0.5em;
            padding: 1%;
            text-align: left;
            box-shadow: 
                0.5em 0.5em 0.1em #0000005d;
            .titleProductsText{
                color: #FF7700;
                font-size: 1em;
            }
            .textProducts{
                color: #582d09;
                font-size: 0.8em;
                letter-spacing: normal;
            }
        }
    }
    @media(hover: hover){
        #seloQIMA:hover, #seloAVAL:hover, #seloSISBI:hover{
            transform: scale(1);
        }
    }
}
