/*------------------------------------------Tasting CSS------------------------------------------------*/

#tasting{
    width: 100%;
    margin-top: -3%;
}

.titleTastings{
    font-family: 'Galada', cursive;
    font-weight: 200;
    font-size: 8em;
    margin-left: 5%;
    color: #FF7700;
}

.images{
    margin-left: 10%;
    margin-top: -8%;
    width: 80%;
    .downTasting{
        margin-left: 10%;
    };
    section{
        width: 100%;
        display: flex;
        margin-bottom: 1%;
        img{
            border-radius: 3em;
            margin: 1%;
            object-fit: cover;
            transition: 0.5s ease-in-out;
        };
        .smallImage{
            background-color: #ffa641;
            height: 30em;
            width: 30%;
        };
        .largeImage{
            background-color: #ffa734;
            height: 30em;
            width: 60%;
        };
    };
}

/*------------------------------------------Tasting Animation CSS------------------------------------*/

section>img:hover{
    transform: scale(1.03);
}

/*------------------------------------------Tasting Responsivity CSS---------------------------------*/

@media(max-width: 1500px){
    .titleTastings{
        font-size: 5em;
    }

    .images{
        margin-left: 5%;
        width: 100%;
        section{
            .smallImage, .largeImage{
                width: 90%;
                height: 60vh;
                margin-bottom: 3%;
            }
        }
        .downTasting, .upTasting{
            display: flex;
            flex-direction: column;
        }
        .downTasting{
            margin-left: 0%;
        }
    }
}